.Button{
    width: auto;
    height: auto;
    padding: 1rem 2rem;
    background-color: #0057FF;
    color: white;
    font-family: inter;
    font-size: 1rem;
    font-weight: 300;
    border: none;
    border-radius: 3rem;
}